body {
  min-height: 100vh;

  // styling scrollbar
  &::-webkit-scrollbar-track {
    border-radius: 10px;

  }
  &::-webkit-scrollbar {
    width: 12px;
    border-radius: 10px;

  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #555;
    border-radius: 10px;
  }

  
}

section {
  margin-block: em(20);
}






