body {
  line-height: 1.6667;
  letter-spacing: em(1);
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'League Spartan', sans-serif;
  font-size: $text-xl;
}


//hamburger menu
.mobileNavLinks a{
  font-family: 'Special Elite', cursive;
}



//Nav
.main-nav {
  .main-link {
  
    text-transform: uppercase;
    letter-spacing: em(2);
  }
  a {
    //desktop nav buttons
    font-family: 'Special Elite', cursive;  
  }

}










