@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Zen+Kurenaido&display=swap");

// font-family: 'Questrial', sans-serif;
// font-family: 'Roboto', sans-serif;

@import "variables";
@import "functions";
@import "mixins";
@import "utility";

@import "resets";

@import "wrapper";
@import "body";
@import "header";
@import "logo";
@import "hamburger";
@import "nav";
@import "movies";
@import "about";
@import "single";

@import "faves";
@import "home";
@import "footer";
@import "notfound";
@import "type";
@import "contact";
@import "cursor";
@import "work";


